trigger:
  branches:
    include:
      - main

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: pre_commit
    displayName: Run pre-commit hooks
    jobs:
      - job: pre_commit
        displayName: Run pre-commit
        steps:
          - task: UsePythonVersion@0
            displayName: Use Python 3.10
            inputs:
              versionSpec: "3.10"
          - script: |
              python -m pip install --upgrade pip
              pip install pre-commit
            displayName: Install pre-commit
          - script: |
              pre-commit run --all-files
            displayName: Run pre-commit
  - stage: publish
    displayName: Upload to PyPI
    dependsOn: pre_commit
    jobs:
      - job: upload
        displayName: Upload
        steps:
          - task: UsePythonVersion@0
            displayName: Use Python 3.10
            inputs:
              versionSpec: "3.10"
          - script: |
              python -m pip install --upgrade pip
              python -m pip install --upgrade build setuptools twine
            displayName: Install Build Dependencies
          - script: |
              python -m build
            displayName: Build sdist And wheel
          - script: |
              python -m twine upload --skip-existing --verbose -p $(pypi-api-token) -u __token__ --repository $(pypi-project-name) --repository-url https://upload.pypi.org/legacy/ dist/*
            displayName: Upload to PyPi (Twine)
